@use '../partials/variables' as v;

.container {
    margin-left: 2rem;
    margin-right: 2rem;
    @each $name, $size in v.$breakpoints {
        @media screen and (min-width: $size) {
            @if ($name == "sm"){
                margin: auto;
            }
            max-width: calc($size - 4rem);
        }
    }
}


