@use "../partials/functions" as f;
@use "../partials/variables" as v;
@use "../partials/mixins" as m;

@layer components {
    .flex {
        display: flex;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }

    .flex-wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .flex-nowrap-reverse {
        display: flex;
        flex-wrap: nowrap-reverse;
    }

    .flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .flex-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .align-items-start {
        align-items: flex-start;
    }

    .align-items-end {
        align-items: flex-end;
    }

    .align-items-center {
        align-items: center;
    }

    .justify-content-start {
        justify-content: flex-start;
    }

    .justify-content-end {
        justify-content: flex-end;
    }

    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }

    .justify-content-space-around {
        justify-content: space-around;
    }

    .justify-content-space-evenly {
        justify-content: space-evenly;
    }
}
