@use "../partials/functions" as f;

@layer components {
    .input{ 
        background-color: var(--white);
       
        border: 1px solid var(--grey);
        
        border-radius: 2px;
        width: 25rem;
        padding: f.rem(8);
    }
}
       