@use "../partials/functions" as f;

@layer components {
    .input {
        border: 2px solid var(--black);
        background-color: var(--white);
        padding: 0.5rem;
        text-align: center;
        width: 100%;
    }
}
